/* Estilos para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#040404fb;
    color: #e9d9d9;
}

/* Estilos para el encabezado */
header {
    text-align: center;
    background-image: url(./contenido/programacion.jpg) ;
    background: linear-gradient(rgba(5,7,12,0.75)) ;
    color: #fff;
    padding: 20px;
    
}

header h1 {
    font-size: 40px;
    margin: 0;
    color: lightyellow;
}

header p {
    font-size: 20px;
    margin: 0;
    color: lightyellow;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    background: rgba(16, 60, 173, 0.110);
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #d4cbcb;
    font-weight: bold;
}
section {
    padding: 20px;
}

section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.proyecto {
    border: 1px solid #392faa;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #415eeda1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.proyecto img {
    max-width: 100%;
    height: auto;
}

.proyecto h3 {
    font-size: 20px;
    margin-top: 10px;
}

/* Estilos para el pie de página */
footer {
    text-align: center;
    background-color: #415eeda1;
    color: #fff;
    padding: 10px;
}

/* Estilos para enlaces */
a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
#sobre-mi{
    background: #415eeda1;
}
#contacto{
    text-align: center;
    width: 200px;
    border: 1px solid #ccc;
    padding: 30px;
    margin: 20px;
    margin-bottom: 20px;
    background-color: #415eeda1;
    box-shadow: 0 2px 4px rgba(21, 43, 238, 0.742);
    
}
#formulario{
    padding: 2px;
    align-items: center;
    background: rgba(5,7,12,0.40);
}
#nombre{
    background: rgba(146, 168, 222, 0.694); 
}
#email{
    background: rgba(146, 168, 222, 0.694); 
}
#mensaje{
    background: rgba(146, 168, 222, 0.694); 
}