div{
    border: 1px solid gray;
    padding: 5px;
    margin: 5px;
}
.relative{
    position: relative;
    left: 80px;
    margin-left: 10px;
}
.fixed{
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: brown;
    z-index: 10;
}
/* Psicion absoluto*/
.absolute{
    position: absolute;
    background-color: azure;
    bottom: 30px;
    right: 0px;
}
.relative.contenedor{
    width: 300px;
    height: 400px;
    background-color: blue;
}
.sticky{
    position: sticky;
    background-color: chocolate;
    color: white;
    top: 0px;
    z-index: 2;
}